.map-marks {
  position: relative;

  &__city {
    position: absolute;
    bottom: -110%;
  }

  &__cookie-first-p {
    @extend %cookieFirstPart;
  }

  &__cookie-second-p {
    @extend %cookieSecondPart;
  }

  &__num {
    position: absolute;
    top: -45%;
    left: -35%;
    width: 80%;
    color: #fff;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    transform: scale(0.6);
  }
}

.bakershops {
  padding-top: 40px;
  padding-bottom: 31px;
  background-color: #f1cc9d;

  &__title {
    margin: 0;
  }

  &__form {
    margin-top: 20px;
    width: 100%;

    @media (min-width: $screenWidth) {
      & {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 32px;
        align-items: center;
      }
    }
  }

  &__select {
    @include size(50px, 100%);
    background-color: #f1cc9d;
    border: none;
    border-bottom: 1px solid #412d2288;
    color: #412d2288;
    outline: none;
  }

  &__submit-btn {
    @include size(40px, 148px);
    display: block;
    margin: 35px auto 40px;

    @media (min-width: $screenWidth) {
      & {
        margin: 35px 0 40px;
      }
    }
  }

  &__wrapper-zoom-btn {
    margin-top: 9px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 40px;

    @media (min-width: $screenWidth) {
      & {
        display: none;
      }
    }
  }

  &__zoom-btn {
    @include size(40px, 40px);
    border: none;
    border-radius: 50%;
    background-color: #fff;
  }

  &__map {
    position: relative;
    @include size(200px, 300px);
    margin: 0 auto;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: 560px) {
      & {
        @include size(300px, 450px);
      }
    }

    @media (min-width: 1200px) {
      & {
        @include size(687px, 1020px);
      }
    }
  }

  @for $_num from 1 to 11 {
    &__mark-#{$_num} {
      position: absolute;
    }
  }

  &__mark {
    &-1 {
      transform: scale(0.6);
      top: 24%;
      left: 6%;

      @media (min-width: 1200px) {
        & {
          transform: scale(1.2);
          left: 10%;
        }
      }
    }

    &-2 {
      transform: scale(0.4);
      top: 7%;
      left: 13%;

      @media (min-width: 1200px) {
        & {
          transform: scale(0.8);
        }
      }
    }

    &-3 {
      transform: scale(0.35);
      top: 13%;
      left: 31%;

      @media (min-width: 1200px) {
        & {
          transform: scale(0.7);
        }
      }
    }

    &-4 {
      transform: scale(0.4);
      top: 34%;
      left: 31%;

      @media (min-width: 1200px) {
        & {
          transform: scale(0.8);
          left: 34%;
        }
      }
    }

    &-5 {
      transform: scale(0.65);
      top: 21%;
      left: 43%;

      @media (min-width: 1200px) {
        & {
          transform: scale(1.3);
          top: 21%;
          left: 43%;
        }
      }
    }

    &-6 {
      transform: scale(0.5);
      top: 7%;
      left: 49%;

      @media (min-width: 1200px) {
        & {
          transform: scale(1);
          top: 7%;
          left: 49%;
        }
      }
    }

    &-7 {
      transform: scale(0.35);
      top: 25%;
      left: 60%;

      @media (min-width: 1200px) {
        & {
          transform: scale(0.7);
          top: 25%;
          left: 60%;
        }
      }
    }

    &-8 {
      transform: scale(0.6);
      top: 25%;
      left: 75%;

      @media (min-width: 1200px) {
        & {
          transform: scale(1.2);
          top: 25%;
          left: 75%;
        }
      }
    }

    &-9 {
      transform: scale(0.5);
      top: 40%;
      left: 67%;

      @media (min-width: 1200px) {
        & {
          transform: scale(1);
          top: 47%;
          left: 67%;
        }
      }
    }

    &-10 {
      transform: scale(0.35);
      top: 62%;
      left: 60%;

      @media (min-width: 1200px) {
        & {
          transform: scale(0.7);
          top: 65%;
          left: 63%;
        }
      }
    }
  }
}
