.footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #412d22;
}

.footer-nav {
  height: 100%;
  display: grid;
  align-content: space-between;

  @media (min-width: $screenWidth) {
    & {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-top: 0;
    }
  }

  &__list {
    display: grid;
    gap: 30px;
    margin: 60px 31px 13px;
    list-style: none;
    padding: 0;

    @media (min-width: $screenWidth) {
      & {
        margin: 0;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        align-items: center;
        justify-items: center;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;

    &:hover {
      text-decoration: underline 1.5px;
    }
  }
}

.footer-logo {
  &__link {
    text-decoration: none;
    color: #fff;
  }

  &__icon-first-part {
    @extend %cookieFirstPart;
  }

  &__icon-second-part {
    @extend %cookieSecondPart;
  }

  &__text {
    @extend %cookieText;
    display: inline-block;
  }
}

.copyright {
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.7;
  color: #fff;

  &__link {
    margin-left: 29px;
    text-decoration: none;
    color: #fff;
  }
}

.soc-icons {
  margin: 47px 31px;
  display: grid;
  grid-template-columns: repeat(3, 31px);
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  &__icon {
    @include size(31px, 31px);
  }

  @media (min-width: $screenWidth) {
    margin: 0;
  }
}
