.header {
  position: relative;
  display: flex;
  height: 100vh;

  &__arrow-prev {
    @include size(20px, 12px);
    cursor: pointer;
    background-image: url("../images/icons/arrow-left.svg");
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    @media (min-width: $screenWidth) {
      & {
        @include size(15px, 26px);
        background-image: url("../images/icons/arrow-up.svg");
      }
    }
  }

  &__arrow-next {
    @include size(20px, 12px);
    cursor: pointer;
    background-image: url("../images/icons/arrow-right.svg");
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    @media (min-width: $screenWidth) {
      & {
        @include size(15px, 26px);
        background-image: url("../images/icons/arrow-down.svg");
      }
    }
  }

  &__switch {
    position: absolute;
    left: calc(50% - 179px / 2);
    bottom: 26px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    justify-items: center;
    align-items: baseline;
    z-index: 1;

    &-item {
      line-height: 19px;
      color: #e39a3b;
    }

    &-item--active {
      font-size: 40px;
      line-height: 47px;
      color: #412d22;
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px;
      justify-items: center;
      align-items: baseline;
    }

    @media (min-width: $screenWidth) {
      & {
        width: 187px;
        left: calc(59px + #{$screenContentWidth} - 187px);
        right: auto;
        bottom: 50%;
        transform: translate(0, 50%);
        grid-template-columns: auto;
        justify-items: end;
        z-index: 2;
      }

      &-item {
        font-size: 40px;
        line-height: 47px;
        color: #f1cc9d;
      }

      &-item--active {
        font-size: 176px;
        line-height: 209px;
        color: #412d22;
      }

      &-list {
        grid-template-columns: auto;
        justify-items: end;
      }
    }

    @media (min-width: 1600px) {
      & {
        left: auto;
        right: #{rubberPadding(1600px)};
      }
    }
  }
}

.burger-menu-wrapper {
  @include size(18px, 24px);
  overflow: hidden;
  position: fixed;
  top: 33px;
  right: 16px;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  @media (min-width: $screenWidth) {
    & {
      display: none;
    }
  }
}

.burger-menu {
  @include size(18px, 24px);
  border-top: 1.5px solid #412d22;
  border-bottom: 1.5px solid #412d22;
  transform: translate(0);
  transition: 0.6s ease-in-out;

  &-line {
    position: absolute;
    top: 1.5px;
    content: "";
    height: 8px;
    width: 24px;
    border-bottom: 1.5px solid #412d22;
    transform: translate(0);
    transition: 0.6s ease-in-out ;
  }

  &-close {
    position: absolute;
    top: 50%;
    @include size(18px, 24px);
    border-top: 1.5px solid #412d22;
    transform-origin: top;
    transform: rotate(45deg) translate(30px);
    transition: 0.6s ease-in-out;

    &-line {
      position: absolute;
      content: "";
      top: 9px;
      width: 24px;
      border-bottom: 1.5px solid #412d22;
      transform: rotate(-45deg) translate(30px);
      transition: 0.6s ease-in-out 0.6s;
    }
  }
}

.logo {
  position: fixed;
  top: 15px;
  left: 16px;

  @media (min-width: $screenWidth) {
    position: relative;
    top: 0;
    left: 0;
  }

  &__link {
    text-decoration: none;
    color: #412d22;
  }

  &__icon-first-part {
    @extend %cookieFirstPart;
  }

  &__icon-second-part {
    @extend %cookieSecondPart;
  }

  &__text {
    @extend %cookieText;
  }
}
