.header-carousel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;

  // &__arrow-prev {
  //   @include size(20px, 12px);
  //   cursor: pointer;
  //   background-image: url("../images/icons/arrow-left.svg");
  //   transition: 0.3s ease-in-out;

  //   &:hover {
  //     transform: scale(1.2);
  //   }

  //   @media (min-width: $screenWidth) {
  //     & {
  //       @include size(15px, 26px);
  //       background-image: url("../images/icons/arrow-up.svg");
  //     }
  //   }
  // }

  // &__arrow-next {
  //   @include size(20px, 12px);
  //   cursor: pointer;
  //   background-image: url("../images/icons/arrow-right.svg");
  //   transition: 0.3s ease-in-out;

  //   &:hover {
  //     transform: scale(1.2);
  //   }

  //   @media (min-width: $screenWidth) {
  //     & {
  //       @include size(15px, 26px);
  //       background-image: url("../images/icons/arrow-down.svg");
  //     }
  //   }
  // }

  // &__switch {
  //   position: absolute;
  //   left: calc(50% - 179px / 2);
  //   bottom: 26px;
  //   display: grid;
  //   grid-template-columns: auto auto auto;
  //   gap: 15px;
  //   justify-items: center;
  //   align-items: center;
  //   z-index: 1;

  //   &-item {
  //     line-height: 19px;
  //     color: #e39a3b;
  //   }

  //   &-item--active {
  //     font-size: 40px;
  //     line-height: 47px;
  //     color: #412d22;
  //   }

  //   &-list {
  //     margin: 0;
  //     padding: 0;
  //     list-style: none;
  //     display: grid;
  //     grid-template-columns: auto auto auto;
  //     gap: 20px;
  //     justify-items: center;
  //     align-items: center;
  //   }

  //   @media (min-width: $screenWidth) {
  //     & {
  //       width: 187px;
  //       left: calc(59px + #{$screenContentWidth} - 187px);
  //       right: auto;
  //       bottom: 50%;
  //       transform: translate(0, 50%);
  //       grid-template-columns: auto;
  //       justify-items: end;
  //       z-index: 2;
  //     }

  //     &-item {
  //       font-size: 40px;
  //       line-height: 47px;
  //       color: #f1cc9d;
  //     }

  //     &-item--active {
  //       font-size: 176px;
  //       line-height: 209px;
  //       color: #412d22;
  //     }

  //     &-list {
  //       grid-template-columns: auto;
  //       justify-items: end;
  //     }
  //   }

  //   @media (min-width: 1600px) {
  //     & {
  //       left: auto;
  //       right: #{rubberPadding(1600px)};
  //     }
  //   }
  // }

  &__gallery {
    @include size(100%, 100%);
    overflow: hidden;
  }

  &__item {
    display: inline-block;
    @include size(100%, 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__list {
    @include size(100%, 100%);
    display: grid;
    grid-template-columns: repeat(3, 100%);
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0;
    transition: 0.5s ease-in-out;

    & > :first-child {
      background-image: url("../images/header/bake-cream-puff-cup-1775045.jpg");
    }

    & > :nth-child(2) {
      background-image: url("../images/header/baked-bakery-baking-1376105.jpg");
    }

    & > :last-child {
      background-image: url("../images/header/bread-croissant-cup-87435.jpg");
    }
  }
}
